<div *ngIf="!showForm">
  <button (click)="newClient()" mat-flat-button color="accent">
    <mat-icon>
      person_add
    </mat-icon>
    Novo Cliente
  </button>
</div>
<div *ngIf="showForm">
  <json-schema-form 
      loadExternalAssets="true" 
      [form]="this.schema" 
      [options]="this.schema.options"
    framework="material-design" 
    (validationErrors)="errorValidate($event)"
    (onSubmit)="postData($event)">
  </json-schema-form>
</div>
<div *ngIf="showForm">
  <button (click)="closeForm()" mat-flat-button>
    Cancelar
  </button>
</div>
<div *ngIf="!showForm">
  <div>
    <table>
      <tr>
        <th>
          Código
        </th>
        <th>
          Cliente
        </th>
        <th>
          Apelido
        </th>
        <th>
          Produtos na Cesta
        </th>
        <th>
          Ações
        </th>
      </tr>
      <tr *ngFor="let client of clients">
        <td>
          {{ client.id }}
        </td>
        <td>
          {{ client.name }}
        </td>
        <td>
          {{ client.nickname }}
        </td>
        <td>
          {{ client.orders.length }}
        </td>
        <td>
          <button (click)="getData(client.id)" mat-icon-button color="primary">
            <mat-icon>
              edit
            </mat-icon>
          </button>
          <button (click)="delete(client.id)" mat-icon-button color="warn">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </td>
      </tr>
    </table>    
  </div>
</div>